.card {
  max-width: 700px;
  margin: 20px auto;
  background-color: rgb(245, 245, 245);

  .title {
    max-width: 600px;
    margin-bottom: 20px;

    small {
      color: gray;
      font-size: 14px;
    }
  }

  p {
    font-size: 16px;
    margin: 10px 0;
  }

  b {
    color: rgb(63, 81, 181);
  }
}
