.card {
  max-width: 700px;
  margin: 20px auto;
  background-color: rgb(245, 245, 245);

  .title {
    max-width: 600px;
    margin-bottom: 20px;

    small {
      color: gray;
      font-size: 14px;
    }
  }

  p {
    font-size: 16px;
    margin: 10px 0;
  }

  b {
    color: rgb(63, 81, 181);
  }

  .show-comments-btn {
    cursor: pointer;
    color: rgb(63, 81, 181);
    text-decoration: underline;
  }

  .no-comments {
    text-align: center;
  }

  .add-comment-form {
    display: flex; 
    align-items: center;

    mat-form-field {
      width: 100%; 
      margin-top: 20px;
    }

    button {
      padding: 15px; 
      margin-left: 15px; 
      margin-bottom: 19px; 
      align-self: flex-end;
    }
  }
}
