.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: rgb(63, 81, 181);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  list-style: none;
    
    .logo {
      width: 40px;
      height: 40px;
      vertical-align: top;
    }

    .lang-btn {
      position: relative;
      top: 5px;
      min-width: 30px;
      line-height: 30px;
      padding: 0;
      margin-left: 20px;
      border-radius: 50%;
    }

    .sign-in-li {
      .user-avatar {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 18px;
          font-weight: 500;
          color: rgb(244, 67, 54);
        }
      }
    }
  }
}
