<nav class='navbar'>
  <ul>
    <li>
      <a routerLink='/'>
        <img class='logo' src='./../../../assets/images/angulartodo-logo.png' alt='appLogo'>
      </a>
      <button class='lang-btn' mat-raised-button (click)="toggleLanguage()">{{language}}</button>
    </li>
    <li *ngIf='!isSignIn'><a mat-raised-button routerLink='/sign-in'>{{ 'buttons.sign-in' | translate }}</a></li>
    <li *ngIf='isSignIn' class='sign-in-li'>
      <img class='user-avatar' src='./../../../assets/images/anonymous-user.png' alt='User avatar' (click)='toggleUserMenu()'>
      <div *ngIf='showUserMenu' class='user-menu-body'>
        <mat-card>
          <ul>
            <li class='user-email-li'>{{ 'messages.signed-in-as' | translate: {user: currentUser} }}</li>
            <hr>
            <li><a mat-button routerLink='/tasks'>My tasks</a></li>
            <li><a mat-button href='#'>{{ 'buttons.blank-link' | translate }}</a></li>
            <hr>
            <li><button mat-button color='warn' (click)='logoutUser()'>{{ 'buttons.logout' | translate }}</button></li>
          </ul>
        </mat-card>
      </div>
    </li>
  </ul>
</nav>
