.add-task-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 50px;

  .datepicker {
    width: 300px;
  }

  mat-checkbox {
    margin-left: 30px;
  }

  button {
    min-width: 150px;
    align-self: flex-end;
  }
}

@media(max-width: 576px) {
  .add-task-form {
    .datepicker {
      width: 100%;
    }
  
    mat-checkbox {
      margin-left: 10px;
    }
  
    button {
      margin-top: 20px;
    }
  }
}
