<h1 class='title'>Add task!</h1>
<div class="add-task-form" [formGroup]='addTaskForm'>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title*</mat-label>
    <input matInput type="text" placeholder="Title..." formControlName="taskTitle">
    <mat-error *ngIf="addTaskForm.get('taskTitle').hasError('required')">You should enter a value</mat-error>
  </mat-form-field>
        
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description*</mat-label>
    <input matInput type="text" formControlName="taskDescription">
    <mat-error *ngIf="addTaskForm.get('taskDescription').hasError('required')">You should enter a value</mat-error>
  </mat-form-field>
        
  <button mat-raised-button color="primary" type="submit" [disabled]="addTaskForm.invalid">Add task</button>
        
</div>