<div class='page_body'>
  <mat-card class='card'>
    <mat-card-title class='title'>SignUp on AngularToDo</mat-card-title>
    <mat-card-content>
      <form [formGroup]='form' (ngSubmit)='onSubmit()'>

        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name*</mat-label>
            <input matInput type="text" placeholder="Ivan" formControlName="firstname" (blur)="getFirstNameErrorMessage()">
            <mat-error>{{firstnameError}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last name*</mat-label>
            <input matInput type="text" placeholder="Ivanov" formControlName="lastname" (blur)="getLastNameErrorMessage()">
            <mat-error>{{lastnameError}}</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email*</mat-label>
          <input matInput type="text" placeholder="pat@example.com" formControlName="email" (blur)="getEmailErrorMessage()">
          <mat-error>{{emailError}}</mat-error>
        </mat-form-field>  

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password*</mat-label>
          <input matInput type="password" formControlName="password" (blur)="getPasswordErrorMessage()">
          <mat-error>{{passwordError}}</mat-error>
        </mat-form-field>  
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Confirm password*</mat-label>
          <input matInput type="password" formControlName="confirmpassword" (blur)="getConfirmPasswordErrorMessage()">
          <mat-error>{{confirmPasswordError}}</mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">SignUp</button>
          <button mat-stroked-button type="button" (click)="goToSignInPage()">Do you have an account?</button>
        </mat-card-actions>
        
      </form>
    </mat-card-content>
  </mat-card>
</div>
