.body {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .h1 {
    margin-bottom: 30px;
  }
  
  .edit-comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
  
    mat-form-field {
        width: 100%;
    }
  }

  button {
    min-width: 100px;
    margin: 10px;
  }
}

@media(max-width: 768px) {
  .body {
    .edit-comment-form {
      width: 400px;
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 576px) {
  .body {
    .edit-comment-form {
      width: 240px;
      margin-bottom: 10px;
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
