.no-tasks {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    padding-top: 50px;
    font-size: 32px;
    color: gray;
  }
}

.error {
  color: red;
  text-align: center;
}

.sort-select {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
