<div class='password-strength-body'>
  <mat-card>
    <ul> 
      {{ 'password-strength.title' | translate }}
      <li [ngClass]="{green: uppercaseMatchCompleted}">{{ 'password-strength.upper-letter' | translate }}</li>
      <li [ngClass]="{green: lowercaseMatchCompleted}">{{ 'password-strength.lower-letter' | translate }}</li>
      <li [ngClass]="{green: numberMatchCompleted}">{{ 'password-strength.numb' | translate }}</li>
      <li [ngClass]="{green: symbolMatchCompleted}">{{ 'password-strength.symbol' | translate }}</li>
      <li [ngClass]="{green: lengthMatchCompleted}">{{ 'password-strength.length' | translate }}</li>
    </ul>
    <div class="strength-bar" [class.weak]="passwordStrength === 1"
      [class.moderate]="passwordStrength === 2"
      [class.strong]="passwordStrength === 3"
      [class.very-strong]="passwordStrength === 4"
      [class.complete]="passwordStrength === 5">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <span [ngSwitch]="passwordStrength">
        <span *ngSwitchCase="1">{{ 'password-strength.weak' | translate }}</span>
        <span *ngSwitchCase="2">{{ 'password-strength.moderate' | translate }}</span>
        <span *ngSwitchCase="3">{{ 'password-strength.strong' | translate }}</span>
        <span *ngSwitchCase="4">{{ 'password-strength.very-strong' | translate }}</span>
        <span *ngSwitchCase="5">{{ 'password-strength.complete' | translate }}</span>
      </span>
    </div>
  </mat-card>
</div>
