.password-strength-body {
  position: absolute;
  top: 100px;
  left: calc(100% - 80px);
  width: 200px;
  height: 200px;
  z-index: 2;

  mat-card {
    background-color: rgb(255, 250, 220);
    padding: 15px;

    ul {
      font-size: 12px;
      margin: 0;
      padding: 0;

      li {
        margin-left: 15px;

        &.green {
          color: green;
        }
      }
    }
  }
}
