<div class='password-strength-body'>
  <mat-card>
    <ul> 
      Your password should contain at least:
      <li [ngClass]="{green: uppercaseMatchCompleted}">1 uppercase letter;</li>
      <li [ngClass]="{green: lowercaseMatchCompleted}">1 lowercase letter;</li>
      <li [ngClass]="{green: numberMatchCompleted}">1 number;</li>
      <li [ngClass]="{green: symbolMatchCompleted}">1 special symbol;</li>
      <li [ngClass]="{green: lengthMatchCompleted}">and be 8 symbols long or more;</li>
    </ul>
    <div class="strength-bar" [class.weak]="passwordStrength === 1"
    [class.moderate]="passwordStrength === 2"
    [class.strong]="passwordStrength === 3"
    [class.very-strong]="passwordStrength === 4"
    [class.complete]="passwordStrength === 5">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <span [ngSwitch]="passwordStrength">
        <span *ngSwitchCase="1">Weak</span>
        <span *ngSwitchCase="2">Moderate</span>
        <span *ngSwitchCase="3">Strong</span>
        <span *ngSwitchCase="4">Very strong</span>
        <span *ngSwitchCase="5">Complete</span>
      </span>
    </div>
  </mat-card>
</div>
