<div class='password-strength-body'>
  <mat-card>
    <ul> 
      {{ 'messages.password-strength-title' | translate }}
      <li [ngClass]="{green: uppercaseMatchCompleted}">{{ 'messages.uppercase-letter' | translate }}</li>
      <li [ngClass]="{green: lowercaseMatchCompleted}">{{ 'messages.lowercase-letter' | translate }}</li>
      <li [ngClass]="{green: numberMatchCompleted}">{{ 'messages.number' | translate }}</li>
      <li [ngClass]="{green: symbolMatchCompleted}">{{ 'messages.symbol' | translate }}</li>
      <li [ngClass]="{green: lengthMatchCompleted}">{{ 'messages.length' | translate }}</li>
    </ul>
    <div class="strength-bar" [class.weak]="passwordStrength === 1"
      [class.moderate]="passwordStrength === 2"
      [class.strong]="passwordStrength === 3"
      [class.very-strong]="passwordStrength === 4"
      [class.complete]="passwordStrength === 5">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <span [ngSwitch]="passwordStrength">
        <span *ngSwitchCase="1">{{ 'messages.weak' | translate }}</span>
        <span *ngSwitchCase="2">{{ 'messages.moderate' | translate }}</span>
        <span *ngSwitchCase="3">{{ 'messages.strong' | translate }}</span>
        <span *ngSwitchCase="4">{{ 'messages.very-strong' | translate }}</span>
        <span *ngSwitchCase="5">{{ 'messages.complete' | translate }}</span>
      </span>
    </div>
  </mat-card>
</div>
