.page_body {
  position: relative;
  overflow: hidden;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 400px;

    h1 {
      font-size: 38px;
      line-height: 42px;
      max-width: 400px;
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      max-width: 480px;
      margin-bottom: 40px;
    }

    button {
      width: 160px;
    }
  }
  
  img {
    max-width: 565px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media(max-width: 1050px) {
  .page_body {
    img {
      opacity: 0.8;
      z-index: -5;
    }
  }
}

@media(max-width: 768px) {
  .page_body {
    div {
      height: 360px;
    }

    img {
      width: 500px;
    }
  }
}