.page_body {
  background-image: url('./../../../assets/images/background-image-1.png');
  background-repeat: no-repeat;
  background-size: 565px 400px;
  background-position: right;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

   h1 {
    font-size: 38px;
    line-height: 42px;
    max-width: 400px;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    max-width: 480px;
    margin-bottom: 40px;
  }

  button {
    width: 160px;
  }
}
