.body {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .h1 {
    margin-bottom: 30px;
  }
  
  .edit-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
    margin-bottom: 30px;
  
    mat-form-field {
        width: 100%;
  
      &.datepicker {
        width: 300px;
      }
    }
  
    mat-radio-group {
      margin-bottom: 15px;
  
      mat-radio-button {
        margin: 0 10px;
      }
    }
  }

  button {
    min-width: 100px;
    margin: 10px;
  }
}

@media(max-width: 768px) {
  .body {
    .edit-task-form {
      width: 400px;
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 576px) {
  .body {
    .edit-task-form {
      width: 240px;
      margin-bottom: 10px;

      mat-form-field.datepicker {
        width: 200px;
      }

      mat-radio-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    
        mat-radio-button {
          margin: 5px;
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
